<div class="grid-container">
    <div class="item1">
      <div class="nav-box">
     <img class="logo-1" src="../../assets/logo-social.png" width="30px" height="30px" alt="">
     <input type="text" class="search" name="q" placeholder="Search"> 
     <i class="fa fa-search" aria-hidden="true"></i>
<span class="font-nav">Production > Dying > Recipies > Cow</span> 
    </div>
    <div>
     <img class="logo-2" src="../../assets/logo-social.png" width="30px" height="30px" alt="">
     </div>
    </div>
    <div class="flex">
    <div class="item2">
      <div class="cross-box">
      <i class="fa fa-times icon"></i>
      </div>
      <div class="font-1 profile">
        <i class="fa fa-user icon"></i>
        <span>
        Farzan Mirza
        </span>
      </div>
      <div class="font-1 notification">
        <div class="w-20 ">
        <i class="fa fa-bell icon">
          <span class="badge">18</span>
        </i>
        
        </div>
        <div class="w-70">
        <span>
        Notification
        </span>
        
        </div>
      </div>
      <hr>
      <div class="detail-nav-box">
      <div class="detail-nav">
        <div class="font-2 icon-text-box">
          <div class="icon-box">
                <i class="fa fa-home icon"></i>
                </div>
                <div class="text-box">
               
                Mirza internation added a new documents of Buffcow T1 color Brown Invoice
        
           </div>
          </div>
        <div class="font-2 icon-text-box">
          <div class="icon-box">
                <i class="fa fa-rss icon"></i>
                </div>
                <div class="text-box">
                    Mirza internation added a new documents of Buffcow T1 color 
            
                </div>
                
          
        </div>
        <div class="font-2 icon-text-box">
          <div class="icon-box">
                <i class="fa fa-address-book icon"></i>
                </div>
                <div class="text-box">
                    Mirza internation added a new documents 
                </div>
                
        </div>
        <div class="font-2 see-all">
        See all
        </div>
        <hr class="horiz">
      </div>
      
    </div>
    <div class="font-1 profile">
      <div class="w-20">
        <i class="fa fa-user icon"></i>
      </div>
      

      <div class="w-70">
        <span>
          Home
          </span>
      </div>
     
    </div>
    <div class="font-1 notification">
      <div class="w-20">
      <i class="fa fa-industry icon"></i>
      </div>
      <div class="w-70">
      <span>
      Production
      </span>
      </div>
    </div>
  <hr>
  <div class="font-2 profile">
    <div class="w-20">
    </div>
    <div class="w-70">
      <span>
        Dying
        </span>
    </div>
  </div>
  <div class="font-2 profile">
    <div class="w-20">
    </div>
    <div class="w-70">
      <span>
        Finishing
        </span>
    </div>
  </div>
  <div class="font-2 profile">
    <div class="w-20">
    </div>
    <div class="w-70">
      <span>
        Crusting
        </span>
    </div>
  </div>
  <div class="font-1 profile">
    <div class="w-20">
      <i class="fa fa-file icon"></i>
    </div>
    <div class="w-70">
      <span>
        Report
        </span>
    </div>
  </div>
  <div class="font-1 profile">
    <div class="w-20">
      <i class="fa fa-tasks  icon"></i>
    </div>
    <div class="w-70">
      <span>
        Planning
        </span>
    </div>
    </div>
    <div class="font-1 profile">
      <div class="w-20">
        <i class="fa fa-rupee icon"></i>
      </div>
    
      <div class="w-70">
        <span>
          Finanaces
          </span>
      </div>
    </div>
  <div class="font-1 profile">
    <div class="w-20">
      <i class="fa fa-chevron-down icon"></i>
    </div>
    <div class="w-70">
      <span>
        See More
        </span>
    </div>
  </div>
    </div>
    <div class="item3"><div>
      <div class="task font-1">Tasks</div> 
      <div class="tab">
      <i class="fa fa-chevron-left"></i>
     <span class="font-3 daily">Daily</span> 
     <span class="font-3">Pendig</span>
     <span class="font-3">Monthly</span>
     <i class="fa fa-chevron-right"></i>
     </div>
     <div class="parent-box">
       <div class="box-1">

       </div>
       <div class="box-2">

       </div>
      
      </div>
     </div></div>  
    <div class="item4">
      <div class="trends">
<div class="text font-1">Trends</div>
      </div>
      <div class="
      efficiency">
        <div class="text font-1">
          Efficiency
        </div>
      </div>
    </div>
    </div>
    <div class="item5 font-3">
      Innovated by Farzan Mirza
    </div>
  </div>